visual information processing and management/assignments/assignment3/images/*
visual information processing and management/assignments/assignment4/image.orig/*
visual information processing and management/esercitazioni/esercitazione 5/image.orig/*
visual information processing and management/esercitazioni/esercitazione 6/data/*
*.zip